<h3>Create Book Form</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="book.title" name="title">
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" id="genre" required [(ngModel)]="book.genre" name="genre">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" required [(ngModel)]="book.description" name="description"></textarea>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="book.author" name="author">
    </div>

    <div class="form-group">
      <label for="publisher">Publisher</label>
      <input type="text" class="form-control" id="publisher" required [(ngModel)]="book.publisher" name="publisher">
    </div>

    <div class="form-group">
      <label for="image_url">Image Url</label>
      <input type="text" class="form-control" id="image_url" required [(ngModel)]="book.image_url" name="image_url">
    </div>

    <div class="form-group">
      <label for="buy_url">Buy Url</label>
      <input type="text" class="form-control" id="buy_url" required [(ngModel)]="book.buy_url" name="buy_url">
    </div>

    <div class="form-group">
      <label for="pages">Pages</label>
      <input type="text" class="form-control" id="pages" required [(ngModel)]="book.pages" name="pages">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <button class="btn btn-primary" (click)="goBack()">Back</button>
</div>

<div [hidden]="!submitted">
  <div class="btn-group ">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    <button class="btn btn-success" (click)="newBook()">Add</button>
  </div>
</div>